@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 55px;
  width: 60%;
  background: #eac97c;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 15px;
  width: 65%;
  background: #fac72b;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.tomato {
  height: 20px;
  width: 50%;
  background-color: #e34747;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.meatball {
  height: 60px;
  width: 70px;
  background: #7c3b3b;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.bacon {
 height: 10px;
 width: 55%;
  background: #9e6262;
  border-radius: 5px;
  border-top: groove 10px rgba(0,0,.1,.2);
}

.patty {
  height: 35px;
  width: 65%;
  background: #674444;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 15px;
  width: 50%;
  background: #6b895d;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 1px #2d9961;
}

.onion {
  width: 40%;
  background-color: #d6c9e2;
  border-top: dotted 15px rgba(255,255,255,.2);
}

.bun-bottom {
  height: 30px;
  width: 60%;
  background: #eac97c;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #656565;
  border-radius: 20px 20px 200px 200px;
}
